// colors
$brand:#CDAA7D;
$text:#fff;
$bg:#000;

// generals
$text-fz18:18px;
$weight:400;
$smalltitle-fs32:32px;
$container:1346px;
$font: 'Cormorant Garamond';
$second-font: "Garamond";

// breakpoints
$xl: $container;
$lg: 1074px;
$md: 818px;
$sm: 475px;
$ms: 400px;
