<section class="hero">
    <div class="container wrapper">
        <h1 class="title">Салон красоты <span>«Delote-Beauty»</span> на Крестовском</h1>

        <a href="" class="btn">
            <img src="src/assets/icons/mouse.svg" alt="icon">
            <span>Прокрутите вниз</span>
        </a>
    </div>
</section>

<style lang="scss">
    .hero {
            height: 100vh;
            background: url('../../src/assets/images/hero-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .wrapper {
                display: flex;
                flex-direction: column;
                gap: 290px;
                justify-content: center;
                align-items: center;
                height: 120%;

                .title {
                    text-align: center;
                    width: 960px;
                    font-size: 72px;
                    font-family: 'Garamond';

										span{
											display: block;
										}
                }

                .btn {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                }
            }
        }
</style>