---
import Layout from '../layouts/Layout.astro';
import HeroSection from './sections/MainPage/HeroSection.astro';

import QuotesSection from './sections/MainPage/QuotesSection.astro';
import WorksSection from './sections/MainPage/WorksSection.astro';
---

<Layout title="Delote-Beauty">
<main>
    <HeroSection />
    <QuotesSection />
		<WorksSection />
</main>
</Layout>

<style lang="scss">
	.quotes{
		
	}
	
</style>
