<div class="the-title">
  <h2 class="title">Наши мастера</h2>
</div>

<style is:global lang="scss">
  .title {
    font-family: "Garamond";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    text-align: center;

    color: #ffffff;
  }
</style>
