<section class="map">
  <div class="container">
    <h2 class="title">Контакты</h2>
    <div class="container-1">
      <img src="src/assets/images/bg-map.jpg" alt="" />
    </div>
  </div>
</section>
<style is:global lang="scss">
  .map {
    padding: 180px 0px 100px;
    min-height: 100vh;
    .container {
      .title {
        font-family: "Garamond";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;

        text-align: center;

        color: #ffffff;
				margin: 80px 0px;
      }

      .container-1 {
        width: 1296px;
        img {
          width: 100%;
        }
      }
    }
  }
</style>
